@use '../../../scss/' as *;

.footer {
    height: 150px;
    @include flex(center, center);

    &__logo {
        img {
            width: 200px;
        }
    }

    &__link {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        &__item {
            color: $txt-white;
            font-size: 1.4rem;
            margin: 0 0 0 40px;
        }

        &__item:nth-child(4),
        &__item:nth-child(5) {
            margin-top: 20px;
        }
    }

    &__social {
        &__item {
            margin: 0 5px;
            img {
                width: 40px;
            }
        }
    }
}
