$main-bg: #fff;
$main-color: #1ffffc;

$txt-header-color: #96eff3;
$txt-white: #fff;
$txt-yellow: #fbeb3c;
$txt-linear: #f1fbfe, #9ae0f7;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 120px;

$box-shadow: rgba(150, 239, 243, 0.2) 0px 8px 24px;
$text-shadow: 0 3px
    rgba(
        $color: #000000,
        $alpha: 0.6,
    );
